<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"></meta>  <!-- UTF-8為網頁的編碼使網頁能讀懂中文-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- 適用手機介面? -->
        <link rel="stylesheet" href="../static/frontpage.css">   <!-- 載入css檔 -->
        <script src="../static/frontpage.js" defer></script>     <!-- 載入js檔 -->
        <title>教發網站</title>
    </head>

    <body>
        <!-- 主頁 -->
        <div>
            <div class="header">
                <a href="../首頁/首頁.html"><img src="../static/image/frontpage_image/首頁素材_Logo.png" width="280px" alt="成功大學彈性學制推動辦公室"></a>
                <a href="../首頁/最新消息/最新消息.html" style="margin-left: auto;" class="topic">最新消息</a>
                <a href="../首頁/學制介紹/學制介紹.html"  class="topic">學制介紹</a>
                <a href="../首頁/學生專區/學生專區.html"  class="topic">學生專區</a>
                <a href="../首頁/常見問題/常見問題.html"  class="topic">常見問題</a>
                <a href="../首頁/關於我們/關於我們.html"  class="topic">關於我們</a>
                <a href="../首頁/首頁.html"><img src="../static/image/frontpage_image/首頁素材_A-icon_中英.png" width="30px" alt="成功大學彈性學制推動辦公室"></a>
                <a href="../首頁/首頁.html"><img src="../static/image/frontpage_image/首頁素材_A-icon_學生登入.png" width="20px" alt="成功大學彈性學制推動辦公室"></a>
                <a href="../首頁/首頁.html"><img src="../static/image/frontpage_image/首頁素材_A-icon_搜尋.png" width="20px" alt="成功大學彈性學制推動辦公室"></a>
            </div>
        <!-- 最新消息 -->
            <img src="../static/image/frontpage_image/首頁素材_B-Banner底圖.png" width="100%">
            <p style="font-size: 36px; text-align: center; margin-top: 80px;"><strong>最新消息</strong></p>
            <div class="main1">
                <div class="main1News">
                    <img src="../static/image/frontpage_image/首頁素材_B-Banner底圖.png" width="300px">
                    <p style="padding: 20px;"></p>
                </div>
                <div class="main1News">
                    <img src="../static/image/frontpage_image/首頁素材_B-Banner底圖.png" width="300px">
                    <p style="padding: 20px;"></p>
                </div>
                <div class="main1News">
                    <img src="../static/image/frontpage_image/首頁素材_B-Banner底圖.png" width="300px">
                    <p style="padding: 20px;"></p>
                </div>
            </div>
            <a href="../首頁/最新消息/最新消息.html" class="btn1">查看更多</a>
        <!-- 什麼是跨域學習 -->
            <div class="Main2">
                <img src="../static/image/frontpage_image/首頁素材_C-圖形-SOP.png" class="img img1" width="400px">
                <img src="../static/image/frontpage_image/首頁素材_C-圖形-五角形.png" class="img img2" width="270px">
                <img src="../static/image/frontpage_image/首頁素材_C-圖形-半圓.png" class="img img3" width="500px">
                <img src="../static/image/frontpage_image/首頁素材_C-圖形-搜尋.png" class="img img4" width="270px">
                <img src="../static/image/frontpage_image/首頁素材_C-圖形-方形.png" class="img img5" width="480px">
                <img src="../static/image/frontpage_image/首頁素材_C-圖形-箭頭.png" class="img img6" width="230px">
                <p style="font-size: 36px; padding: 150px;"><strong>什麼是跨域學習？</strong></p>
                <img src="../static/image/frontpage_image/首頁素材_C-箭頭-下.png" class="img img7" width="50px">
                <p style="padding: 20px; font-size: 24px;">你有沒有想過——</p>
                <p style="font-size: 24px;">為什麼學習一定要被系所框住？</p>
                <p style="font-size: 24px;">為什麼我們不能自由探索不同領域，</p>
                <p style="font-size: 24px; margin-bottom: 170px;">打造自己的學習藍圖？</p>
                <div class="main2">
                    <p style="font-size: 36px; margin: 0px;"><strong>在成大，</strong></p>
                    <p style="font-size: 36px; margin: 0px;"><strong>彈性學制讓你掌握自己的學習節奏!</strong></p>
                    <div class="learnTempo">
                        <div class="tempos">
                            <img src="../static/image/frontpage_image/首頁素材_C-學習彈性更大.png" width="300px">
                            <div class="tempoBox">
                                <p style="font-size: 28px; color:orange">學習彈性更大</p>
                                <p style="font-size: 24px;">不受固定課程框架限制，依照興趣組合最適合的學習內容，想學什麼學什麼！</p>
                            </div>
                        </div>
                        <div class="tempos">
                            <img src="../static/image/frontpage_image/首頁素材_C-探索多元領域.png" width="300px">
                            <div class="tempoBox">
                                <p style="font-size: 28px; color:orange">探索多元領域</p>
                                <p style="font-size: 24px;">工程、設計、管理、科技，任你自由搭配，甚至自主開設課程，實踐自己的創意想法，培養跨領域思維。</p>
                            </div>
                        </div>
                        <div class="tempos">
                            <img src="../static/image/frontpage_image/首頁素材_C-結合實作與研究.png" width="300px">
                            <div class="tempoBox">
                                <p style="font-size: 28px; color:orange">結合實作與研究</p>
                                <p style="font-size: 24px;">透過產業實習、專題研究與跨領域專案，讓學習更貼近真實世界，提前培養職場競爭力。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        <!-- 該怎麼開始 -->
            <p style="font-size: 36px; margin: 0px; padding-left: 200px; margin-top: 80px;"><strong>該怎麼開始?</strong></p>
            <p style="font-size: 24px; padding-left: 200px;"><strong>跨域學習不只是選修課，而是打造你的專屬學習路徑!跟著步驟開始你的跨域學習計畫吧!</strong></p>
            <div class="main3">
                <div class="stepBtn1"><img src="../static/image/frontpage_image/首頁素材_D-箭頭-黑.png" id="prevBtn"></div>
                <div id="step1" class="stepContent active"><div class="steps">Step 1</div></div>
                <div id="step2" class="stepContent"><div class="steps">Step 2</div></div>
                <div id="step3" class="stepContent"><div class="steps">Step 3</div></div>
                <div id="step4" class="stepContent"><div class="steps">Step 4</div></div>
                <div class="stepBtn2"><img src="../static/image/frontpage_image/首頁素材_D-箭頭-黑.png" id="nextBtn"></div>
                <a href="../首頁/該怎麼開始/該怎麼開始.html" class="btn1 knowSystem">查看更多</a>
            </div>


        <!-- 常見問題 -->
            <div class="main4">
                <p style="font-size: 24px; text-align: center; padding-top: 20px;">常見問題</p>
                <div class="btn2Format">
                    <button class="btn2 active" onclick="showContent('apply', event)">申請篇</button>
                    <button class="btn2" onclick="showContent('course', event)">修課篇</button>
                    <button class="btn2" onclick="showContent('graduate', event)">畢業篇</button>
                    <button class="btn2" onclick="showContent('resource', event)">資源篇</button>
                    <button class="btn2" onclick="showContent('else', event)">其他篇</button>
                </div>
                <!-- 申請篇 -->
                <div id="apply" class="content active">
                    <div class="QA">
                        <p><strong>Q1: 升大四的學生可以申請嗎？</strong></p>
                        <p>國立成功大學大學部一年級至三年級學生，得申請修讀彈性學制學位。因此，本校大學部四年級學生即將畢業，不能申請。</p>
                    </div>
                    <div class="QA">
                        <p><strong>Q2: 申請審查會考量成績嗎？</strong></p>
                        <p>請至申請主要依學生提供的計劃書進行審查，成績並非考量重點。審查原則為：<br>
                        ➀ 學生學習動機與目標的明確性。<br>
                        ➁ 課程規劃與學習目標的一致性。<br>
                        ➂ 實習、實作或專題課程與課程規劃相關性及統整性。<br>
                        ➃ 計劃書與現有學系制度之區別性與突破性。<br>
                        ➄ 修讀領域名稱及學士學位名稱之合宜性。</p>
                    </div>
                    <div class="QA">
                        <p><strong>Q3: 沒有預約學習規劃師會談，可以申請彈性學制嗎？</strong></p>
                        <p>會談的目的是幫助學生釐清學習脈絡，欲申請校學士資格的學生，請預約至少一場「學習規劃師會談」，並視個人需求進一步預約「專家師資諮詢」。若沒有預約學習規劃師會談，就不能提出校學士的申請。</p>
                    </div>
                    <div class="QA">
                        <p><strong>Q4: 已具備雙主修身份可以申請彈性學制嗎？</strong></p>
                        <p>可以申請。惟學生雙主修身份的課業已十分繁重，但請務必自身衡量生涯規劃與壓力的調適，取得生活與身心的平衡。</p>
                    </div>
                    <div class="QA">
                        <p><strong>Q5: 課表需要被審核嗎？還是自己決定就可以了？</strong></p>
                        <p>填寫的自訂修讀領域專長模組等課程，須經審核通過。每學期的課表不另外審核，基本上按照計劃書通過的課程進行修讀，若有異動請務必在下列期限內填寫並繳交「學生課程異動申請表」。</p>
                        <p>第一學期：11月申請，12月審查，次年1月公告。<br>
                           第二學期：5月申請，6月審查，7月公告。<br>
                           檔案下載 ➤➤➤ <a href="../首頁/常見問題/申請/國立成功大學跨域彈性學制課程異動申請表032025.docx" download>國立成功大學校學生課程異動申請表</a></p>
                    </div> 
                    <div class="QA">
                        <p><strong>Q6: 修讀台綜大系統的學分學程，可以納入彈性學制計劃書申請嗎？</strong></p>
                        <p>。</p>
                    </div> 
                    <div class="QA">
                        <p><strong>Q7: 四個領域專長是否皆須不同學院？</strong></p>
                        <p>任選四個完整的領域專長模組、學分學程或輔系，其中至少修習一個領域專長模組，且非學生原所屬學院開設之領域專長模組。因此，四個領域專長模組涵蓋兩個學院以上即可。</p>
                    </div> 
                    <div class="QA">
                        <p><strong>Q8: 如果領域專長模組課程與原系的必選修或選修相同時，是否可以採計？</strong></p>
                        <p>不可以重複採計，應另修習由開設領域專長模組單位指定替代科目，以補足所差之學分。</p>
                    </div> 
                    <div class="QA">
                        <p><strong>Q9: 若選擇學分學程當作其中一項領域，是否須自行申請學分學程的修讀資格？</strong></p>
                        <p>申請審核通過後，彈性學制支持辦公室逕依申請計劃書所列之彈性學制課程組合登記修讀資格，學生不用再另外申請修讀資格。</p>
                    </div> 
                    <div class="QA">
                        <p><strong>Q10: 教育學程學分能否採計為彈性學制學分？</strong></p>
                        <p>不行，請參見下列兩點：</p>
                        <p>1.「教育學程」為國家管控培育師資之專業型學程，非屬一般學分學程。<br>
                           2.校學士為雙主修性質，依師資培育法施行細則及大學設立師資培育中心辦法規定訂定之，依第17條規定：「學生修習教育學程之教育專業課程及學分數，包括其在主修、輔修系(所)外加修之科目及學分，不計入主修系(所)畢業應修學分數內。」</p>
                    </div>                                                
                </div>
                <!-- 修課篇 -->
                <div id="course" class="content">
                    <div class="QA">
                        <p><strong>Q1: 校學士生修讀時，若有疑問，可以洽詢哪些單位？</strong></p>
                        <p>課務註冊方面，請洽詢教務處課務組、註冊組；學習輔導方面，可洽詢教學發展中心。</p>
                    </div>
                    <div class="QA">
                        <p><strong>Q2: 跨校雙主修或輔系課程，可以採計為校學士必修學分嗎？</strong></p>
                        <p>僅限本校開設之課程，跨校雙主修、輔系及學分學程等，非本校課程皆不予以採計。</p>
                    </div>
                    <div class="QA">
                        <p><strong>Q3: 跨校雙主修或輔系不能採計為必修學分，是否能採計跨校選修呢？</strong></p>
                        <p>跨校選修(校際選課)學分僅能採計惟原學系或校學士之一般選修學分。</p>
                    </div>
                    <div class="QA">
                        <p><strong>Q4: 校學士生也須遵循學校的二一制嗎？</strong></p>
                        <p>是的，學生學期學業成績不及格科目之學分數，累計二次達該學期修習學分總數二分之一，應令退學。(大學部四年級學生除外)。</p>
                    </div>
                </div>
                <!-- 畢業篇 -->
                <div id="graduate" class="content">
                    <div class="QA">
                        <p><strong>Q1: 校學士生畢業可以拿到幾張畢業證書？</strong></p>
                        <p>不論是放棄原系資格以校學士身份畢業，或是同時拿到原系學位及校學士學位(雙學位)，畢業時都將領取一張學位畢業證書。</p>
                    </div>
                    <div class="QA">
                        <p><strong>Q2: 畢業可以同時拿到領域專長模組、學分學程、輔系的證書嗎？</strong></p>
                        <p>修畢校學士課程組合中的領域專長模組，可在期限內登入學校系統下載「領域專長模組證書」電子檔；修畢校學士課程組合中的學分學程、輔系，不得另外領取「學分學程學位證書」及「輔系學位證書」。</p>
                    </div>
                    <div class="QA">
                        <p><strong>Q3: 畢業學位名稱會如何呈現？</strong></p>
                        <p>校學士學位名稱為「○○○○跨領域文學學士/管理學學士/工學學士/理學學士/社會科學學士」。○○○○為學生自訂之修讀領域名稱(12字內為原則)，例如：空間政策與規劃科學，學位名稱為「空間政策與規劃科學跨領域理學學士」。<br>
                           若同時拿到原系學位及校學士學位(雙學位)，學位名稱則會同時列出。</p>
                    </div>
                    <div class="QA">
                        <p><strong>Q4: 如果須要延畢，是否需要原學系、學程主任的簽核同意？</strong></p>
                        <p>依照本校現行制度，在修讀年限4+2年的範圍內，只要教務處有申請通過校學士資格即可自動辦理延畢，無須另外進行簽核。但若仍未能如期畢業，在延畢第2年結束前須由原學系審核是否已修畢原系應修學分。<br>
                           並請留意，延畢第2年結束前未修滿原系應修學分，亦未修滿校學士應修學分者，應予退學。</p>
                    </div>
                    <div class="QA">
                        <p><strong>Q5: 如因故決定放棄原學系，以校學士身份畢業，要如何申請？</strong></p>
                        <p>如欲放棄所屬學系以校學士身份畢業，需填寫並繳交「放棄校學士或原學系資格申請書」，向校學士辦公室提出放棄校學士學位，於期限內繳交至教務處辦理。</p>
                        <p>檔案下載 ➤➤➤ <a href="../首頁/常見問題/畢業/國立成功大學學生放棄校學士或原學系資格申請書032025.docx" download>國立成功大學學生放棄校學士或原學系資格申請書</a></p>
                    </div>
                    <div class="QA">
                        <p><strong>Q6: 轉學生如果申請到校學士(類雙主修)，是否能僅以校學士(加修學系)畢業？</strong></p>
                        <p>與一般學生相同，無特別限制。</p>
                    </div>
                </div>
                <!-- 資源篇 -->
                <div id="resource" class="content">
                    <div class="QA">
                        <p><strong>Q1: 同學修課科目與學分可能跟同班同學有所差異，書卷獎如何評定？</strong></p>
                        <p>修讀校學士學生之學籍還是歸屬於原學系，書卷獎評定方式依原學系規定辦理。</p>
                    </div>
                    <div class="QA">
                        <p><strong>Q2: 探索學習計畫是否有相關補助？是否可以同時申請其他獎學金計畫？</strong></p>
                        <p>計畫無任何補助，不過我們開放申請者同時申請其他校內外獎學金計畫。</p>
                    </div>
                </div>
                <!-- 其他篇 -->
                <div id="else" class="content">
                    <div class="QA">
                        <p><strong>Q1: 無？</strong></p>
                        <p>無</p>
                    </div>
                </div>
            </div>
        <!-- 聯絡我們 -->
            <div class="main5">
                <p style="margin-top: 0px; padding-top: 40px; font-size: 30px;"><strong>聯絡我們</strong></p>
                <p style="margin-top: 0px; padding-top: 10px;">承辦人:某某某</p>
            </div>

        </div>

    </body>
</html>