/* 移除頁面默認邊距 */
body, html {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}
.header {
    display: flex;
    align-items: center;
    padding: 10px;
    width: auto;
    gap: 20px;
    box-sizing: border-box; /* 使內邊距也計入寬度和高度 */
}
.topic{
    font-weight:bold;
    color: black;
    text-decoration: none;  /* 移除底線 */
}
.main1{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.main1News{
    width: 300px;
    height: 400px;
    background-color: rgb(228, 223, 223);
}
.btn1{
    display: block;   /* 讓 <a> 變成區塊，這樣 text-align: center; 才會生效 */
    text-align: center;
    align-items: center;
    text-decoration: none;
    width: 90px;
    height: 35px;
    line-height: 35px;      /* 與height相同便可垂直置中*/
    font-weight:bold;
    border: 2px solid rgb(96, 96, 96);
    border-radius: 20px;
    color: black;
}
.main2-1 {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    background-image: url(../static/image/frontpage_image/首頁素材_C-半圓灰底.png);
    background-size: 100%;
}
.img{
    position: absolute;
}
.img1{
    top: 80px;
    right: 100px;
}
.img2{
    left: 200px;
}
.img3{
    top: 500px;
    right: 50px;
}
.img4{
    top: 250px;
    right: 150px;
}
.img5{
    top: 230px;
    left: -35px;
}
.img6{
    top: 530px;
    left: 130px;
}
.img7{
    top: 250px;
    left: 50%;
    transform: translate(-50%);
}
.main2-2{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 200px;
    height: 800px;
}
.learnTempo{
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 20px;
}
.tempos{
    display: flex;  /* 使 .tempos 內的元素水平排列 */
    flex-direction: column;  /* 讓圖片與 tempoBox 垂直排列 */
    align-items: center;  /* 讓圖片和 tempoBox 水平置中 */
    width: 360px;
}
.tempoBox{
    width: 350px;
    height: 300px;
    border: 2px solid black;
    border-radius: 20px;
    font-weight:bold;
    text-align: center;   /* 讓文字水平置中 */
    word-wrap: break-word; /* 強制單詞在超出範圍時換行 */
}
.tempoBox p:nth-of-type(2) {
    text-align: justify; /* 每個 div 中的第2個 p 元素左右對齊 */
    padding: 0px 20px;
}
/* 該怎麼開始 */
.main3{
    position: relative;
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    width: 100%;
    height: 430px;
    gap: 20px;
}
.steps{
    position: relative;
    width: 700px;
    height: 350px;
    border: 2px solid black;
    border-radius: 20px;
    font-weight:bold;
    word-wrap: break-word; /* 強制單詞在超出範圍時換行 */
}
.steptitle{
    position: absolute;
    font-size: 32px;
    top: 30px;
    left: 40px;
}
.stepwords{
    position: absolute;
    width: 312px;
    font-size: 24px;
    top: 100px;
    left: 40px;
}
.stepimg{
    position: absolute;
    top: 30px;
    right: 70px;
}
.stepBtn1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 197, 196);
    height: 80px;
    width: 80px;
    clip-path: circle(50%);
}
.stepBtn1 img,
.stepBtn2 img {
    width: 40px;
    filter: brightness(0) invert(1); /* 使圖片變成白色 */
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
}
.stepBtn1:hover,         /* 懸停時改變顏色 */
.stepBtn2:hover {
    background-color: rgb(220, 125, 0);
}
.knowSystem{
    position: absolute;
    right: 200px;
    bottom: 0px;
}
.stepBtn2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 197, 196);
    height: 80px;
    width: 80px;
    clip-path: circle(50%);
    transform: rotate(180deg);
}
.stepContent, .content {
    display: none; /* 預設隱藏 */
    padding-bottom: 20px;
}
.stepContent.active, .content.active {
    display: block; /* 只有當前顯示 */
}



/* 常見問題 */
.main4 {
    background-image: url(../static/image/frontpage_image/首頁素材_E-半圓橘底.png);
    background-repeat: no-repeat;       
    background-size: 1500px auto; 
    background-position: center center;
    padding-bottom: 40px;
    height: auto;
}
.btn2Format {
    margin: 0px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 500px;
    text-align: center;
    background: white;
    border-radius: 50px;
}
.btn2 {
    display: inline-block;
    padding: 10px 20px;
    margin: 0.6px;
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    font-size: 18px;
}
.btn2.active {
    background-color: #ff6200;
    color: white;
}
.QA{
    background: white;
    padding: 5px 20px;
    margin: 10px auto;
    min-height: 50px;
    width: 850px;
    border-radius: 20px;
}
.verticalCenter{
    display: flex;
    align-items: center;   /* 垂直置中 */
    height: 50px;
}
.inQA {
    display: flex;
    align-items: center;   /* 垂直置中 */
    margin-left: auto;
    width: 850px;
    font-size: 18px;
}
.QAbtn{
    margin-left: auto; /* 將按鈕推到最右側 */
    display: block;
    border: none;
    cursor: pointer;
}
.QAbtn:hover img{
    content: url("../static/image/frontpage_image/首頁素材_E-icon-展開-Hover.png");
}
.QAbtn.open:hover img{
    content: url("../static/image/frontpage_image/首頁素材_E-icon-合起-Hover.png");
}
.answer {
    background-color: white;
    font-size: 16px;
    display: none; /* 默認隱藏 */
}
.answer.expanded {
    display: block; /* 顯示更多文字 */
}
.checkall{
    margin: 0px auto;
    background-color: white;
    border: none;
}
.main5{
    display: flex;
    justify-content: center;  /* 水平置中 */
    background-color: rgb(252, 249, 249);
    height: 300px;
    padding-top: 30px;
    gap: 60px;
}
.contact{
    width: 250px;
}
.inforItem{
    display: flex;
    align-items: center;   /* 垂直置中 */
}
.inforGap{
    margin-top: 50px;
}
.inforColumn{
    flex-direction: column;
    gap: 10px;
}
.inforItem p{
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}
.inforItem a{
    text-decoration: none; /* 移除底線 */
    color: black;
    font-size: 16px;
}
.v-line{
    border-left: solid #a6a6a6;
    height:250px;
   }